/*==============================*\
General style
\*==============================*/

body{
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  background-color: #193441;
  text-decoration: none !important;
  padding: 40px 0px 40px 0px;
  color: #FCFFF5;
  font-family: 'Merriweather', serif;
}

body a{
  color: #D1DBBD;
  text-decoration: none !important;
}

/*==============================*\
Top Section
\*==============================*/

#header{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


#links{
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
}

#links a{
  padding-right: 15px;
}

#name{
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

#title{
  font-size: 28px;
  margin: 0px;
}

/*==============================*\
Body Section
\*==============================*/

.container p{
  font-weight: bold;
}

.container a{
  font-style: italic;
}

.floatRight{
  float: right;
}



