/*==============================*\
General Style
\*==============================*/

body{
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  background-color: #3C3C3C;
  text-decoration: none !important;
  padding: 40px 0px 40px 0px;
  color: #F9F9F9;
  font-family: 'Roboto', serif;
}

body a{
  text-decoration: none !important;
}

ul {
 list-style-type: circle;
}

.lightBlue{
  color: #78B5C6;
}

.mustard{
  color: #E5BD57;
}

.lightGray{
  color: #F9F9F9;
}

.brickRed{
  color: #C14E42;
}

.darkGray{
  color: #3C3C3C;
}

.margin-right-small{
  margin:5px;
}

/*==============================*\
Top Section
\*==============================*/

#header{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#links{
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
}

#links a{
  padding-right: 15  px;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
}

#name{
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

#title{
  font-size: 28px;
  margin: 0px;
}

/*==============================*\
Body Section
\*==============================*/

.container p{
  font-weight: bold;
}

.container a{
  font-style: italic;
}

.container li{
  font-weight: 100;
}

.floatRight{
  float: right;
}
